extends layout

block content
    .container
        h1 Contact Us
        br
        form(method='post', action='contact/send')
            .form-group
                label(for='fullname') Full Name
                input.form-control(type='text', name='fullname')
            .form-group
                label(for='email') Email
                input.form-control(type='email', name='email')
            .form-group
                label(for='msg') Message
                textarea.form-control(name='msg')
            button.btn.btn-default(type='submit') Submit
        br
        br
