doctype html
html
    head
        title #{title} - NodeJS Simple Express App
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/footer.css')
        link(rel='stylesheet', href='/fonts/font-awesome-4.5.0/css/font-awesome.min.css')
        
    body
        nav.navbar.navbar-default.navbar-fixed-top
            .container
                .navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='/') NodeJS Simple Express App Using Jade
                #navbar.collapse.navbar-collapse
                    ul.nav.navbar-nav.navbar-right
                        li(class=(title === 'Home' ? 'active' : ''))
                            a(href='/') Home
                        li(class=(title === 'About' ? 'active' : ''))
                            a(href='/about') About
                        li(class=(title === 'Contact' ? 'active' : ''))
                            a(href='/contact') Contact
        block content
    
    footer
        .col-md-12
            a.btn.btn-success(title='Source code for this website', target='_blank', href='https://github.com/vaibhavdesai137/njs-simple-express-app')
                i.fa.fa-code.fa-lg
            a.btn.btn-success(title='My GitHub', target='_blank', href='https://github.com/vaibhavdesai137')
                i.fa.fa-github.fa-lg
            a.btn.btn-success(title='My LinkedIn', target='_blank', href='https://www.linkedin.com/in/vaibhav-desai-a864aa15')
                i.fa.fa-linkedin.fa-lg
            a.btn.btn-success(title='My Facebook', target='_blank', href='https://www.facebook.com/vaibhav.desai.165033')
                i.fa.fa-facebook.fa-lg
        .col-md-12
            p Vaibhav Desai

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='/javascripts/bootstrap.js')
